/*#d1{
    background-color: rgb(103, 66, 66);
    width:80%;
    height:70%;
    opacity: 0.2; 
}
#d2{
    background-color:black;
    color:white;
    visibility:hidden;
}

#d1:hover #d2{
    visibility: visible;
}
*/
/*page1*/
body{
   font-family: "Open Sans", sans-serif;
    margin:0;
    padding: 0;
   width:100%;
   background: #fff;
}
/*PAGES*/
#page1{
    width:100%;
    margin: 0;
    padding: 0;
    height:200%;
    background-size: cover;
}
#page2{
    margin-top:350px;
    width:100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background: rgb(197, 196, 196);
    background-size: cover;
} 
#page3{
    width:100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('solarnet2.webp');
    background-size: cover;
}
/*HEADER PAGE1*/
#stack{
    display:grid;
    position:fixed;
    width:100%;
    margin-top: 55px;
    z-index: 1;
}
@media (max-width:650px){
    .list img{
        height: 500px;
    }
}

@keyframes appear1 {
    from{
        opacity: 0;
        scale:1;
    }
    to{
        opacity:0;
        scale: 0;
        background: transparent;
        box-shadow: none;
        margin-top: -23vw;
        }

}
.slide{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color:transparent;
    transition: 0.5s ease;
    transform: translateY(1080px);
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-top: -10px;
    
}
h1{
    color:#3b3b42;
    font: 800;
    text-align: end;
    padding: 10px 0;
    padding-right: 10px;
    pointer-events: none;
}
ul li{
    list-style: none;
    text-align: center;
    justify-content: center;
}
ul li a{
    color:#3b3b42;
    font-family: "lilita one";
    font-weight: 500;
    padding: 15px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
#boxx p{
    display: flex;
    flex-direction: row;
    color: #1abc9c;
    width: 50px;
}
ul li:hover a{
    color: #fff;
    background-color: #1e2e92;
}
ul li a{
    width: 91%;
    text-align:justify;
    background-color: #fff;
    font-weight: bolder;
}
ul li a i{
    width: 40px;
    text-align: start;
}

input{
    display: none;
    visibility: hidden;
    
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: -155%;
    z-index: 0;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: blue;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 20%;
    transform: translateX(-50%, -50%);
}
.toggle .middle_line{
    top: 50%;
    left: 20%;
    transform: translateX(-50%, -50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 20%;
    transform: translateX(-50%, -50%);
}
input:checked ~ .toggle .top_line{
    left: 12px;
    top: 25px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
}
input:checked ~ .toggle .bottom_line{
    left: 12px;
    top: 25px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#contactsec{
    position:relative;
    animation-name: appearwow;    
    animation-timeline: view();
    animation-range: exit 0% cover 720%;
    transition:infinite;
    z-index: 0;
}
@keyframes move1 {
  from{
    scale:1.1;
  }
  to{
    background: transparent;  
    opacity: 0;   
    box-shadow: none; 
  }
        
}
#contaact{
    display: flex;
    flex-direction: row; 
    position: relative;
    background:#1abc9c;
    color: rgb(226, 223, 235);
    margin-left: -10px;
    margin-top: -140px;
    height: 100px;
    padding: 10px;
    font-weight: bolder;
    z-index: 0; 
}
#contaact{
    z-index: 0;
    position:relative;
    animation: appear1 50s linear;
    animation-timeline: view();
    animation-range: exit 0% cover 790%;
    transition:infinite;
}
#topperhead{
    width:100%;
    height: 80px;
    position: relative;
    background:midnightblue;
    display:flex;
    margin-top: -230px;
}
#maincontact{
    z-index: 0;
    display:flex;
    flex-direction: row;
    position: relative;
    background: rgb(6, 43, 45);
    color: #ffffff;
    margin-left: auto;
    margin-right:auto;
    margin-top: -75px;
    padding-left:20px;
    padding-right:20px;
    height: 50px;
    width:100%;
    font-size: 16px;
    font-weight: 600;
    font-family:'Poppins';
    text-align: start;
    align-items: center;
    justify-content: center;
    line-height:50px;
    border: 2px solid rgb(63, 53, 2);
    box-shadow: 0 2px 3px 0 rgb(35, 62, 101);
    animation: appear1;
   animation-timeline: view();
   animation-range: exit 0% cover 780%;
   transition:infinite;
}
@keyframes appearwow {
    from{
        opacity: 0;
    }
    to{
        opacity:0.0;
        scale:0;
        background: transparent;
        box-shadow: none;
        margin-left: -100px;
        }
}
#tophead{
    line-height: 50px;
    text-align: start;
    align-items: center;
    font-family: "Poppins";
    font-size: 18px;
    width:100%;
    height: 29px;
    color: aquamarine;
    animation-name: topper;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 6s ease-in-out 0s;
    
}
@keyframes topper {
    10%{
        transform: translateX(300px);
        opacity: 0.3;
        font-size: 15px;
    }
    50%{
        transform: translateX(500px);
        opacity: 0.9;
        font-size: 22px;
}
70%{
    transform: translateX(900px);
    font-size: 16px;
    opacity: 0.4;
}
100%{
    transform: translateX(100%);
}}

#maincontact p{
    color: #c4c2cb;
    font-style: italic;
}
#maincontact i{
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
#maincontact .second1 i{
    transition: all 0.5s ease-in;
    animation-name: i;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
    

@keyframes i{
    10%{
        transform: translateX(3px);
        opacity: 0.3;
        font-size: 15px;
    }
    50%{
        transform: translateX(-3px);
        opacity: 0.9;
        font-size: 22px;
}
70%{
   color:#17a387;
   font-size: 18px;
}
100%{
    color:antiquewhite;
    font-size: 22px;
}}

#maincontact i:hover{
    background: rgb(129, 129, 129); 
    color: #69ede2;
    border-radius: 50%;
    padding: 8px;
    
   
}
#maincontact button{
    justify-content: space-around;
    width: 250px;
    height: 35px;
    margin-left: 10px;
    border: 2px solid #1abc9c;
    border-radius: 7px;
    background-color:#1abc9c;
    color: aliceblue;
    font-family: "Poppins";
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
#maincontact button:hover{
    background-color:#17a387;
    color: rgb(239, 239, 239);
    box-shadow: 0 1px 7px 6px #ffffff;
}
#maincontact #first{
    display: flex;
    width:300px;
   justify-content: center;
   margin-left:-30px;
   margin-right:30px;
}
#maincontact #second {
    text-align:start;
    width:300px;
}


nav{
    text-align: start;
    position: fixed;
    align-items: center;
    margin-top: -167px;
    padding-top: 5.5px;
    padding-bottom: 5px;
    width: 100%;
    height:60px;
    background:#34495e;
    border-radius: 0px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0.1);
}
#ione{
    align-items: center;
    color:darkcyan;
    
    
}
#navhide i{
    margin-top: 10px;
}
#navhide{
    font-size:24px;
    font-family:  "Lilita One", sans-serif;
    font-weight:bolder;
    text-align:start;
    align-items: center;
    margin-top: 5px;
    margin-right:200px;
    margin-left: -5px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 6px;
    box-shadow: 0 1px 7px 6px #ffffff;
    background: antiquewhite;
    color:#17a387;
    animation: appearnav 7s linear;
    animation-timeline: view();
    animation-duration: 5s;
    animation-range: entry 1% cover 100%;
    transition:infinite;
}
@keyframes appearnav {
    from{
        opacity: 1;
        scale:1;

        }
    to{
    font-size:0px;
    scale:0;
    opacity:0.0;
    background: transparent;
}}

nav{
    position:relative;
}
#close{
    position: relative;
}

#close img{
   width: 130px;
   height: 79%;
   margin-top: -40px;
   margin-bottom: 60px;
   margin-left: 30px;
   border-radius: 45%;
   position: relative;
   animation: appearwow;
   animation-timeline: view();
   animation-range: exit 0% cover 750%;
   transition:infinite;
   z-index: 1;
   box-shadow: 0 4px 7px 6px rgb(129, 129, 129);  
}
nav a{
align-items: center;
font-size: 17px;
font-weight: bolder;
font-family: "poppins";
text-transform: uppercase;
color:white;
text-decoration: none;
line-height: 40px;
position: relative;
z-index: 1;
display:inline-block;
text-align: center;
margin-right: 20px;
margin-left: 10px;
padding-top:10px;
padding-bottom: 10px;
transition: all 0.5s ease-in;
}
nav a:hover{
    background: rgb(129, 129, 129); 
    color: #34495e;
    border-radius:8px 8px 8px 8px;
    padding: 0px 20px 0px 20px;
    height: 45px;
    line-height: 45px;
    align-items: center;
    transition: .7s ease-in-out;
    box-shadow: 0 1px 7px 6px #ffffff;
   
    
}
@media (max-width:650px){
    nav a{
        margin-left: -900px;
    }
    #maincontact{
        margin-left: -900px;
    }
    nav{
        height: 5px;
    }
    #tophead{
        font-size: 13px;
    }
    
   #contaact{
    height: 5px;
   } 
}



.slider{
    width: 106%;
    height: 1010px;
    margin-left:-10px;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.list{
    position:relative;
    top:0;
    left: 0;
    height: 100%;
    display: flex;
    width: 100%;
    transition:ease-in;
 
}
.list img{
    width: 1600px;
    margin-left:10px;
    background-size:cover;
    object-fit: cover;
    height: 100%;
    animation: slideo 44s infinite;
}
@keyframes slideo{
    0%, 30%, 50%, 70%, 90%{
        opacity:1;
        scale:100%;
    }
    20%, 40%, 60%, 80%, 100%{
        scale:100%;
    }
   
}
.buttons{
    position: absolute;
    top: 45%;
    left:5%;
    width: 92%;
    display: flex;
    justify-content: space-between;
   }
    
.buttons button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFF6;
    border:none;
    font-family: monospace;
    font-weight: bold;
    font-size:20px;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.buttons  button:hover{
    background-color: aliceblue;
}
#subprev{
    position: absolute;
    top: 45%;
    left:2%;
    height:40px;
    width:200px;
    opacity:0.9;
    background-color: #FFF6;
    visibility: hidden;
    cursor: pointer;
    transition: all 1s ease-in;
}
.buttons button:hover #subprev{
    visibility: visible;
}
.buttons button:hover #subnext{
    visibility: visible;
}
#subnext{
    position: absolute;
    top: 45%;
    left:83%;
    height:40px;
    width:200px;
    opacity:0.9;
    background-color: #FFF6;
    visibility: hidden;
    cursor: pointer;
    transition: all 1s ease-in;
}
#subnext:hover{
    background-color: aliceblue;
}
#subprev:hover{
    background-color: aliceblue;
}
#subprev img{
    width:200px;
    height:80px;
    cursor: pointer;
}
#subnext img{
    width:200px;
    height:80px;
    cursor: pointer;
}
.dots{
    position: absolute;
    bottom: 90px;
    color: #bc3e3e;
    text-align: center;
    margin-top:-60%;
    margin-left: 24%;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: #a03a3a;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.dots li.active{
    width: 50px;
}
.dots li.active:hover{
    background-color: rgb(220, 169, 97);
}
.imgread{
    position:absolute;
    font-size:70px;
    color:#1abc9c;
    z-index: 0;
    margin-top: -700px;
    margin-left:20%;
    width: 500px;
    text-align:normal;
    font-family: "Poppins";
    font-weight: bolder;
    line-height: 60px;
    animation-name: imgread0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 6s ease-in-out 0s;
    
}
@keyframes imgread0 {

    50%{
        transform: translateX(40px);
        opacity: 0.9;
        font-size: 80px;
        color:antiquewhite;
        text-align: normal;
        width: 620px;
    }
    60%{
        color:rgb(239, 218, 191);
    }
}

.imgread1{
    position:absolute;
    font-size:30px;
    font-weight: bold;
    color:#1abc9c;
    z-index: 0;
    margin-top: -465px;
    width: 600px;
    text-align:center;
    margin-left:13%;
    animation-name: imgread1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 6s ease-in-out 0s;
    
}
@keyframes imgread1 {

    50%{
        font-size: 40px;
        color:rgb(215, 220, 218);
        }
}
.imgread1 button{
    background: #17a387;
    background-color:cadetblue;
    color:#ffffff;
    margin-top: 10px;
    width:150px;
    height:50px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.imgread1 button:hover{
    background-color: antiquewhite;
    color:#17a387;
    box-shadow: 0 1px 7px 6px #ffffff;
    
}

   


  
@media  (max-width: 950px){
    .slider{
        height: 900px;
        width: 100%;
        margin-left:0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        overflow:hidden;
    }
    body{
    width:100%;
margin: 0;
padding: 0;
    }
div #page1{
    width: 100vw;
    padding: 0;
    margin:0;
    background-color: #17a387;  
}
#page2{
    width: 100%;
    padding: 0;
    margin-left:0;
    margin-right: 0;
    
}
div .homeabout{
    background-color:#fff;
    width: 100%;
}
#page3{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #031713;
}
#stack{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
 }
 .list{
    width: 100%;
    background-size: cover;
 }
 div .homeservices{
    width: 100%;
   padding: 0;
    background-color:#fff;
}
    #tophead{
        line-height: 50px;
        text-align: start;
        align-items: center;
        font-family: "Poppins";
        font-size: 12px;
        width:100%;
        height: 25px;
        color: aquamarine;
        animation-name: topper;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: all 6s ease-in-out 0s;
    }
    @keyframes topper {
        10%{
            transform: translateX(300px);
            opacity: 0.3;
            font-size: 15px;
        }
        50%{
            transform: translateX(500px);
            opacity: 0.9;
            font-size: 17px;
    }
    70%{
        transform: translateX(300px);
        font-size: 13px;
        opacity: 0.4;
    }
    100%{
        transform: translateX(100%);
    }}
    nav{
        margin-top: -186px;
        height: 60px;
        background-color: #9f7107;
    
    }
    nav a{
        margin-left: -1000px;
    }
    #maincontact{
        margin-top: -300px;
    }
    #contaact{
        margin-top: -170px;
        background-color: #9f7107;
        box-shadow: 0 1px 7px 6px #f3eb96;
        height: 50px;
        z-index: 1;
        margin-left: 0;
        margin-right: 0;
    }
    #contaact p{
        text-align: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bolder;
        font-family: "lilita One";
        margin-top: 10px;
        margin-left: 29%;
    }
    #navhide{
        font-size: 22px;
        width: 200px;
        text-align: center;
        justify-content: center;
        margin-left: 27%;
        color:#3b3b42;
    }
    #navhide i{
        color: #3b3b42;
    }
    .toggle{
        margin-left: 2%;
        left: 2%;
        margin-top:-11px;
        width:50px;
        height:50px;
        background-color: #858315;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    .toggle .common{
        justify-content: center;
        text-align: center;
        left:30%;
        background-color: aliceblue;
    }
    input:checked ~ .slide{
        transform: translateX(0px);
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
    }
    .slide{
        height: 100%;
        width: 50%;
        margin-left: 1px;
        background-color:transparent;
        transition: 0.5s ease;
        transform: translateY(-1080px);
        justify-content: center;
        text-align: center; 
    }
    h1{
        color:#3b3b42;
        font-weight: 800;
        text-align: end;
        width: 1px;
        margin:0px;
        padding: 10px 0;
        padding-right: 10px;
        pointer-events: none;
        background: transparent;
        background-origin: none;
    }
    ul li{
        list-style: none;
        text-align: center;
        justify-content: center;
    }
    ul li a{
        color:#3b3b42;
        font-weight: 500;
        padding: 15px;
        text-transform: capitalize;
        text-decoration: none;
        transition: 1.2s ease-out;
    }
    ul li:hover a{
        color: #fff;
        background-color: #1e2e92;
    }
    ul li a{
        margin-left:-15%;
        width: 600px;
        text-align:justify;
        background-color: #fff;
        font-weight: bolder;
    }
    ul li a i{
        width: 40px;
        text-align: start;
    }
   div #boxx p{
        display: flex;
        flex-direction: row;
        color: #17a387;
        width: 40px;
        text-align: start;
        background-color:#fff;
        position: relative;
        margin-left: 10%;
    }
    div #boxx a{
        display: flex;
        flex-direction: row;
        color: #17a387;
        width: 40px;
        text-align: center;
        background-color:#fff;
        position: relative;
        margin-left: 0%;
        font-size: 30px;
        border-radius: 50%;
    }
    div #boxx i{
        align-items: center;
        border-radius: 50%;
    }
    div #boxx{
        padding-top: 20px;
        align-items: center;
        border-radius: 50px 50px 50px 50px;
        margin-top: 2px;
        margin-left: 1%;
        width: 100%;
        height: 70px;
        background-color:#fff;
        justify-content: space-evenly;
    }
    #close img{
        width: 130px;
        scale: 0;
        height: 79%;
        margin-top: -40px;
        margin-bottom: 60px;
        margin-left: 30px;
        border-radius: 45%;
        position: relative;
        animation: appearwow;
        animation-timeline: view();
        animation-range: exit 0% cover 750%;
        transition:infinite;
        z-index: 1;
        box-shadow: 0 4px 7px 6px rgb(129, 129, 129);  
     }
     body{
        width: 100%;
     }
     .list img{
        width: 1000px;
        height: 100%;
        margin-left: 0;
        object-fit: cover;
        background-size: cover;
     }
  
     .buttons{
        position: absolute;
        top: 45%;
        margin-left: 2%;
        left:3%;
        width: 91%;
        display: flex;
        justify-content: space-between;
       }
        
    div.buttons button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #FFF6;
        border:none;
        font-family: monospace;
        font-weight: bold;
        font-size:20px;
        cursor: pointer;
        transition: all 0.5s ease-in;
    }
    .buttons  button:hover{
        background-color: aliceblue;
    }
    #subprev{
        position: absolute;
        top: 45%;
        left:2%;
        height:40px;
        width:100px;
        opacity:0.9;
        background-color: #FFF6;
        visibility: hidden;
        cursor: pointer;
        transition: all 1s ease-in;
    }
    .buttons button:hover #subprev{
        visibility: visible;
    }
    .buttons button:hover #subnext{
        visibility: visible;
    }
    #subnext{
        position: absolute;
        top: 30%;
        left:81%;
        height:40px;
        width:100px;
        opacity:0.9;
        background-color: #FFF6;
        visibility: hidden;
        cursor: pointer;
        transition: all 1s ease-in;
    }
    #subnext:hover{
        background-color: aliceblue;
    }
    #subprev:hover{
        background-color: aliceblue;
    }
    #subprev img{
        width:100px;
        height:40px;
        cursor: pointer;
    }
    #subnext img{
        width:100px;
        height:40px;
        cursor: pointer;
    }
   div .dots{
        position: absolute;
        bottom: 90px;
        color: #bc3e3e;
        text-align: center;
        margin-top:-60%;
        margin-left: 10%;
        margin-right: auto;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .dots li{
        list-style: none;
        width: 20px;
        height: 20px;
        background-color: #a03a3a;
        margin: 10px;
        border-radius: 20px;
        transition: 1s;
        cursor: pointer;
    }
    .dots li.active{
        width: 50px;
    }
    div .imgread{
        position:absolute;
        font-size:40px;
        color:#031713;
        z-index: 0;
        margin-top: -580px;
        margin-left:20%;
        width: 60%;
        text-align:normal;
        font-family: "Poppins";
        font-weight: bolder;
        line-height: 32px;
        animation-name: imgread0;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: all 6s ease-in-out 0s;
        
    }
    @keyframes imgread0 {
    
        50%{
            transform: translateX(60px);
            opacity: 0.9;
            font-size: 40px;
            color:antiquewhite;
            text-align: normal;
            width: 60%;
        }
        60%{
            color:rgb(239, 218, 191);
        }
    }
    
    .imgread1{
        position:absolute;
        font-size:20px;
        font-weight: bold;
        color:#0e2e27;
        z-index: 0;
        margin-top: -315px;
        width: 80%;
        text-align:center;
        margin-left:4%;
        animation-name: imgread1;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transition: all 6s ease-in-out 0s;
        
    }
    @keyframes imgread1 {
    
        50%{
            font-size: 25px;
            color:rgb(215, 220, 218);
            }
    }
    .imgread1 button{
        background: #17a387;
        background-color:cadetblue;
        color:#ffffff;
        margin-top: 10px;
        width:120px;
        height:40px;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease-in;
    }
    .imgread1 button:hover{
        background-color: antiquewhite;
        color:#17a387;
        box-shadow: 0 1px 7px 6px #ffffff;
        
    }
    
    
    div #highlights {
        background: gray;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        width:100%;
        height: 100%;
        z-index: 0;

    
      }
      div #columnservice{
        margin-left: 0;
        margin-right: 0;
      }
    
    div #highlights img {
        background: #ffffff;
        z-index: 0;
        width:300px;
        height: 300px;
      }
      div #highlights img:hover{
        width: 320px;
      }
      div #highlightimages {
        width: 300px;
        height: 300px;
        z-index: 0;
        margin:30px 30px 0 30px;
        box-shadow: 0 1px 7px 6px #646244;
      }
      
      #highlightitlepolicy{
        text-align:center;
        width: 280px;
        height:130px;
        font-size:35px;
        font-weight: bolder;
        border-radius: 3% 3% 3% 3%;
        background: linear-gradient(10deg, rgb(252, 252, 224) 80%, rgb(230, 225, 167) 20%);
        margin-top: -130px;
        margin-left:20px;
        z-index: 1;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 7px 6px #f3eb96;
      }
    
      #highlightitlepolicy p{
        display:inline-block;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        font-family: "PLAYFAIR DISPLAY";
        
      }
      .policytext1{
        color: #3b3b42;
      }
      .policytext2{
        color:#1e2e92;
      }
      .policytext3{
        color:#9f7107;
        font-size: 22px;
        margin-top: -60px;
        font-style: oblique;
        font-weight: lighter;
      }
    
      .homeabout{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: #ffffff;
        margin-top: 20px;
        padding-bottom: 80px;
        margin-left: 23px;
        margin-right:70px;
        width:100%;
        z-index: 0;
      }
      .homeabouttext button{
        background: #17a387;
        background-color:cadetblue;
        color:#ffffff;
        margin-top: 10px;
        width:120px;
        height:40px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease-in;
    }
    .homeabouttext button:hover{
        background-color: antiquewhite;
        color:gray;
        box-shadow: 0 1px 7px 6px #ffffff;
    } 
    .homeabouttext{
        margin-top: 120px;
        width: 430px;
        font-size: 15px;
        font-weight: lighter;
        font-stretch: condensed;
        font-family:"Poppins";
        text-align: justify;
    }
    
    div .homeaboutimage img{
        margin-top:120px;
        width:320px;
        height: 300px;
        margin-bottom: 40px;
        align-items: center;
        box-shadow: 0 1px 7px 6px #646244;
    }
    
  div  .homeservices{
        display: flex;
        flex-wrap: wrap;
        background: #ffffff;
        justify-content: center;
        margin-top: 20px;
        padding-top:30px;
        margin-left: 0px;
        padding-bottom: 20px;
        padding-left:0px;
        background-size: cover;
        width:100%;
        z-index: 0;
        font-family: "POPPINS";
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
    }
    
    .homeservicesdesc{
        width: 260px;
        height:600px;
        padding-left:25px;
        padding-right:25px;
        align-items: center;
        margin-top:9%;
    }
    .homeservicesdesc button{
        background: #17a387;
        background-color:cadetblue;
        color:#ffffff;
        margin-top: 10px;
        width:150px;
        height:50px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease-in;
    }
    .homeservicesdesc button:hover{
        background-color: antiquewhite;
        color:gray;
        box-shadow: 0 1px 7px 6px #ffffff;
    }    
    
    .firstservice{
        color:#1e2e92;
        text-align: start;
        font-size: 36px;
        font-weight: bolder;
        font-family: "poppins";
    }
    .secondservice{
        font-size: 18px;
        text-align:start;
    }
    #subservicetitle{
        display:inline;
        padding-top: 10px;
        padding-left: 20px;
        padding-right:20px;
        margin-left:5px;
        margin-right: 5px;
    }
    .imagesubservice img{
        width: 40px;
        height:40px;
        border-radius: 50%;
        margin-top: 40px;
        
    }
    .textsubservice{
        width:270px;
        height:320px;
       
    }
    
    .firstsubservice{
        color:#17a387;
        font-size: 28px;
    }
    
    .secondsubservice{
        font-size: 18px;
        text-align: start;
    }
    
    .homegallery{
        background:#1abc9c;
        justify-content: center;
        margin-top: 20px;
        padding-top:30px;
        margin-left: 10px;
        padding-bottom: 140px;
        padding-left:19px;
        width:100%;
        z-index: 0;
        font-family: "POPPINS";
        align-items: center;
        vertical-align: middle;
        animation: appear 7s linear;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
    }
    .gallerytitle{
        text-align: center;
        align-items: center;
        font-size: 40px;
        font-weight: bolder;
        color:#1e2e92;
    }
    #gallerygrid{
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        justify-content:center;
        background-color:#17a387;
        padding-bottom: 25px;
        margin-top: 60px;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        height:100%;
        
      
    }
    
    #gallerygrid img{
        width:300px;
        height:300px;
        background-color:#17a387;
        margin-top: 0px;
        margin-bottom: -90px;
        z-index: 0;
        box-shadow: 0 1px 7px 6px #f3eb96;
    }
    #gallerygrid p{
        margin-top:0px;
        padding-top:80px;
        margin-bottom: 40px;
        width:300px;
        height:100px;
        align-items: start;
        text-align: center;
        font-size: 28px;
        font-family: "POPPINS";
        background-color:#17a387;
        color: aliceblue;
        z-index: 1;
        box-shadow: 0 1px 7px 6px #f3eb96;
    }
    
    .galleryfirst #fullgallery{
        font-weight: bolder;
        line-height: 5px;
        padding-top:40px;
        margin-top: 20px;
        background-color: #17a387;
    }
    .galleryfirst #minigallery{
        font-size: 15px;
        text-align: center;
        margin-top: -130px;
        width:280px;
        height:20px;
        padding-left:5px;
        z-index: 0;
        background:#17a387;
        padding-bottom:90px;
    }
    #gallerygrid button{
        background: #17a387;
        background-color:cadetblue;
        color:#ffffff;
        margin-top: 10px;
        width:150px;
        height:50px;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease-in;
    }
    #gallerygrid button:hover{
        background-color: antiquewhite;
        color:gray;
        box-shadow: 0 1px 7px 6px #ffffff;
    } 
    
    
    .gallerysecond #fullgallery{
        margin-top: 80px;
    }
    
    div .about{
        justify-content: center;
        margin-top: 20px;
        padding-top:30px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 140px;
        padding-left:0px;
        padding-right: 0;
        width:100%;
        z-index: 0;
        font-family: "POPPINS";
        align-items: center;
        vertical-align: middle;
        z-index: 1;
        }
        
        div .aboutsection{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        vertical-align: middle;
        justify-content:center;
        padding-bottom: 25px;
        margin-top: 60px;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        height:100%;
        }
        div .aboutwords{
        width:370px;
        margin-left: -5px;
        padding-right: 9px;
        font-size: 16px;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
        }
        .aboutinsides{
        color:#ffffff;
        }
        .aboutinsides img{
        width:180px;
        height:160px;
        border-radius: 41%;
        justify-content: center;
        vertical-align: middle;
        }
        .aboutheader{
        font-size:28px;
        }
        #abt1{
        display: flex;
        text-align: end;
        }
        #abt1 i{
         margin-top:1px;
         font-size: 20px;
        }
        hr{
        width:364px;
        margin-left: -1%;
        margin-top:-30px;
        margin-bottom: -30px;
        }
        .aboutwords0{
        margin-left: auto;
        margin-right: auto;
        width:auto;
        text-align: center;
        animation: appear 5s linear;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
        }
        
        #copyright{
        width:100%;
        height:25px;
        padding-top:7px;
        text-align: center;
        align-items: center;
        color:black;
        background-color:rgb(255, 255, 255);
        font-family:"POPPINS";
        font-size: 13px;
        font-weight: bolder;
        }
        #tophead{
            line-height: 50px;
            text-align: start;
            align-items: center;
            font-family: "Poppins";
            font-size: 12px;
            width:100%;
            height: 25px;
            color: aquamarine;
            animation-name: topper;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            transition: all 6s ease-in-out 0s;
        }
        @keyframes topper {
            10%{
                transform: translateX(300px);
                opacity: 0.3;
                font-size: 15px;
            }
            50%{
                transform: translateX(500px);
                opacity: 0.9;
                font-size: 17px;
        }
        70%{
            transform: translateX(300px);
            font-size: 13px;
            opacity: 0.4;
        }
        100%{
            transform: translateX(100%);
        }}
        nav{
            margin-top: -186px;
            height: 60px;
            background-color: #9f7107;
        
        }
        
        .buttons button{
            width: 50px;
            height: 40px;
            border-radius: 50%;
            background-color: #FFF6;
            border:none;
            font-family: monospace;
            font-weight: bold;
            font-size:20px;
            cursor: pointer;
            transition: all 0.5s ease-in;
        }
        .buttons  button:hover{
            background-color: aliceblue;
        }
        #subprev{
            position: absolute;
            top: 45%;
            left:2%;
            height:40px;
            width:100px;
            opacity:0.9;
            background-color: #FFF6;
            visibility: hidden;
            cursor: pointer;
            transition: all 1s ease-in;
        }
        .buttons button:hover #subprev{
            visibility: visible;
        }
        .buttons button:hover #subnext{
            visibility: visible;
        }
        #subnext{
            position: absolute;
            top: 30%;
            left:81%;
            height:40px;
            width:100px;
            opacity:0.9;
            background-color: #FFF6;
            visibility: hidden;
            cursor: pointer;
            transition: all 1s ease-in;
        }
        #subnext:hover{
            background-color: aliceblue;
        }
        #subprev:hover{
            background-color: aliceblue;
        }
        #subprev img{
            width:100px;
            height:40px;
            cursor: pointer;
        }
        #subnext img{
            width:100px;
            height:40px;
            cursor: pointer;
        }
        .dots{
            position: absolute;
            bottom: 90px;
            color: #bc3e3e;
            text-align: center;
            margin-top:-60%;
            margin-left: 20%;
            margin-right: auto;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        
        .dots li{
            list-style: none;
            width: 20px;
            height: 20px;
            background-color: #a03a3a;
            margin: 10px;
            border-radius: 20px;
            transition: 1s;
            cursor: pointer;
        }
        .dots li.active{
            width: 50px;
        }
         .imgread{
            position:absolute;
            font-size:40px;
            color:#031713;
            z-index: 0;
            margin-top: -510px;
            margin-left:20%;
            width: 60%;
            text-align:normal;
            font-family: "Poppins";
            font-weight: bolder;
            line-height: 32px;
            animation-name: imgread0;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            transition: all 6s ease-in-out 0s;
            
        }
        @keyframes imgread0 {
        
            50%{
                transform: translateX(60px);
                opacity: 0.9;
                font-size: 45px;
                color:antiquewhite;
                text-align: normal;
                width: 60%;
            }
            60%{
                color:rgb(239, 218, 191);
            }
        }
        
        .imgread1{
            position:absolute;
            font-size:20px;
            font-weight: bold;
            color:#0e2e27;
            z-index: 0;
            margin-top: -395px;
            width: 80%;
            text-align:center;
            margin-left:4%;
            animation-name: imgread1;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            transition: all 6s ease-in-out 0s;
            
        }
        @keyframes imgread1 {
        
            50%{
                font-size: 25px;
                color:rgb(215, 220, 218);
                }
        }
        .imgread1 button{
            background: #17a387;
            background-color:cadetblue;
            color:#ffffff;
            margin-top: 10px;
            width:120px;
            height:40px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in;
        }
        .imgread1 button:hover{
            background-color: antiquewhite;
            color:#17a387;
            box-shadow: 0 1px 7px 6px #ffffff;
            
        }
        
        
        
        div  .homeabout{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background:#ffffff;
            margin-top: 20px;
            padding-bottom: 80px;
            margin-left: 0px;
            margin-right:70px;
            width:100%;
            z-index: 0;
          }
          .homeabouttext button{
            background: #17a387;
            background-color:cadetblue;
            color:#ffffff;
            margin-top: 10px;
            width:120px;
            height:40px;
            font-size: 18px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in;
        }
        .homeabouttext button:hover{
            background-color: antiquewhite;
            color:gray;
            box-shadow: 0 1px 7px 6px #ffffff;
        } 
        .homeabouttext{
            margin-top: 120px;
            width: 430px;
            font-size: 16px;
            font-weight: lighter;
            font-stretch: condensed;
            font-family:"Poppins";
            text-align: justify;
        }
        
        .homeaboutimage img{
            margin-top:120px;
            width:80%;
            height: 400px;
            margin-bottom: 40px;
            align-items: center;
            box-shadow: 0 1px 7px 6px #646244;
        }
        
        .homeservices{
            display: flex;
            flex-wrap: wrap;
            background: #ffffff;
            justify-content: center;
            margin-top: 20px;
            padding-top:30px;
            margin-left: 10px;
            padding-bottom: 20px;
            padding-left:19px;
            width:100%;
            z-index: 0;
            font-family: "POPPINS";
            animation: appear 5s linear;
            animation-timeline: view();
            animation-range: entry 10% cover 20%;
        }
        
        .homeservicesdesc{
            width: 260px;
            height:600px;
            padding-left:25px;
            padding-right:25px;
            align-items: center;
            margin-top:9%;
        }
        .homeservicesdesc button{
            background: #17a387;
            background-color:cadetblue;
            color:#ffffff;
            margin-top: 10px;
            width:150px;
            height:50px;
            font-size: 18px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in;
        }
        .homeservicesdesc button:hover{
            background-color: antiquewhite;
            color:gray;
            box-shadow: 0 1px 7px 6px #ffffff;
        }    
        
        .firstservice{
            color:#1e2e92;
            text-align: start;
            font-size: 36px;
            font-weight: bolder;
            font-family: "poppins";
        }
        .secondservice{
            font-size: 18px;
            text-align:start;
        }
        #subservicetitle{
            display:inline;
            padding-top: 10px;
            padding-left: 20px;
            padding-right:20px;
            margin-left:5px;
            margin-right: 5px;
        }
        .imagesubservice img{
            width: 40px;
            height:40px;
            border-radius: 50%;
            margin-top: 40px;
        }
        .textsubservice{
            width:270px;
            height:320px;
           
        }
        
        .firstsubservice{
            color:#17a387;
            font-size: 28px;
        }
        
        .secondsubservice{
            font-size: 18px;
            text-align: start;
        }
        
        .homegallery{
            background:#1abc9c;
            justify-content: center;
            margin-top: 20px;
            padding-top:30px;
            margin-left: 10px;
            padding-bottom: 140px;
            padding-left:19px;
            width:100%;
            z-index: 0;
            font-family: "POPPINS";
            align-items: center;
            vertical-align: middle;
            animation: appear 7s linear;
            animation-timeline: view();
            animation-range: entry 10% cover 20%;
        }
        .gallerytitle{
            text-align: center;
            align-items: center;
            font-size: 40px;
            font-weight: bolder;
            color:#1e2e92;
        }
        #gallerygrid{
            display: flex;
            flex-wrap: wrap;
            vertical-align: middle;
            justify-content:center;
            background-color:#17a387;
            padding-bottom: 25px;
            margin-top: 60px;
            margin-left:auto;
            margin-right: auto;
            width: 100%;
            height:100%;
            
          
        }
        
        #gallerygrid img{
            width:300px;
            height:300px;
            background-color:#17a387;
            margin-top: 0px;
            margin-bottom: -90px;
            z-index: 0;
            box-shadow: 0 1px 7px 6px #f3eb96;
        }
        #gallerygrid p{
            margin-top:0px;
            padding-top:80px;
            margin-bottom: 40px;
            width:300px;
            height:100px;
            align-items: start;
            text-align: center;
            font-size: 28px;
            font-family: "POPPINS";
            background-color:#17a387;
            color: aliceblue;
            z-index: 1;
            box-shadow: 0 1px 7px 6px #f3eb96;
        }
        
        .galleryfirst #fullgallery{
            font-weight: bolder;
            line-height: 5px;
            padding-top:40px;
            margin-top: 20px;
            background-color: #17a387;
        }
        .galleryfirst #minigallery{
            font-size: 15px;
            text-align: center;
            margin-top: -130px;
            width:280px;
            height:20px;
            padding-left:5px;
            z-index: 0;
            background:#17a387;
            padding-bottom:90px;
        }
        #gallerygrid button{
            background: #17a387;
            background-color:cadetblue;
            color:#ffffff;
            margin-top: 10px;
            width:150px;
            height:50px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in;
        }
        #gallerygrid button:hover{
            background-color: antiquewhite;
            color:gray;
            box-shadow: 0 1px 7px 6px #ffffff;
        } 
        
        
        .gallerysecond #fullgallery{
            margin-top: 80px;
        }
        
        .about{
            justify-content: center;
            margin-top: 20px;
            padding-top:30px;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 140px;
            padding-left:0;
            padding-right: 0;
            width:100%;
            z-index: 0;
            font-family: "POPPINS";
            align-items: center;
            vertical-align: middle;
            z-index: 1;
        }
        
        .aboutsection{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            vertical-align: middle;
            justify-content:center;
            padding-bottom: 25px;
            margin-top: 60px;
            margin-left:0;
            margin-right: 0;
            width: 100%;
            height:100%;
        }
        .aboutwords{
            width:450px;
            font-size: 18px;
            animation: appear 5s linear;
            animation-timeline: view();
            animation-range: entry 10% cover 20%;
        }
        .aboutinsides{
        color:#ffffff;
        }
        .aboutinsides img{
            width:180px;
            height:160px;
            border-radius: 41%;
            justify-content: center;
            vertical-align: middle;
            }
        .aboutheader{
            font-size:28px;
        }
        #abt1{
            display: flex;
            text-align: end;
          }
          #abt1 i{
             margin-top:1px;
             font-size: 20px;
           }
        hr{
            width:364px;
            margin-left: -1%;
            margin-top:-30px;
            margin-bottom: -30px;
        }
        .aboutwords0{
            margin-left: auto;
            margin-right: auto;
            width:auto;
            text-align: center;
            animation: appear 5s linear;
            animation-timeline: view();
            animation-range: entry 10% cover 20%;
        }
        
        #copyright{
            width:100%;
            height:25px;
            padding-top:7px;
            text-align: center;
            align-items: center;
            color:black;
            background-color:rgb(255, 255, 255);
            font-family:"POPPINS";
            font-size: 13px;
            font-weight: bolder;
        }
        
        }
    


/*page2*/
/*WHOLE PAGE EFFECTS*/
@keyframes appear {
    from{
        opacity: 0;
        scale:0.5;
    }
    to{
        opacity:1;
        scale:1;
        }
}
.block{
    margin-left:0px;
    position: relative;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    z-index: 0;
}

/*HIGHLIGHTS PAGE 2*/
#highlights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #ffffff;
    margin-top: -300px;
    padding-top: 50px;
    margin-left:0;
    margin-right:0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 80px;
    width:100%;
    z-index: 0;
  }
  #columnservice{
display: flex;
flex-wrap: wrap;
justify-content: center;
  }
  #highlightimages{
    width: 360px;
    height: 340px;
    z-index: 0;
    margin:30px 30px 0 30px;
    box-shadow: 0 1px 7px 6px #646244;
  }
  #highlightimages:hover{
    width: 380px;
    height: 360px;
    z-index: 0;
    margin:30px 30px 0 30px;
    box-shadow: 0 1px 7px 6px #646244;
  }
  
  #highlightitlepolicy{
    position: absolute;
    display: flex;
    flex-direction:row;
    text-align:center;
    width: 280px;
    height:130px;
    font-size:35px;
    font-weight: bolder;
    border-radius: 3% 3% 3% 3%;
    background: linear-gradient(10deg, rgb(252, 252, 224) 80%, rgb(230, 225, 167) 20%);
    margin-top: -130px;
    margin-left:20px;
    z-index: 1;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 7px 6px #f3eb96;
  }

  #highlightitlepolicy p{
    display:inline-block;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-family: "PLAYFAIR DISPLAY";
    
  }
  .policytext1{
    color: #3b3b42;
  }
  .policytext2{
    color:#1e2e92;
  }
  .policytext3{
    color:#9f7107;
    font-size: 22px;
    margin-top: -60px;
    font-style: oblique;
    font-weight: lighter;
  }

  .homeabout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 80px;
    margin-left: 0px;
    margin-right:0px;
    width:104%;
    z-index: 0;
  }
  .homeabouttext button{
    background: #17a387;
    background-color:cadetblue;
    color:#ffffff;
    margin-top: 10px;
    width:150px;
    height:50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.homeabouttext button:hover{
    background-color: antiquewhite;
    color:gray;
    box-shadow: 0 1px 7px 6px #ffffff;
} 
.homeabouttext{
    margin-top: 120px;
    width: 340px;
    font-size: 19px;
    font-weight: lighter;
    font-stretch: condensed;
    font-family:"Poppins";
    text-align: justify;
    animation-name: pg2appear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: all 3s ease-in;
    z-index: 0;
}
@keyframes pg2appear {
    from{
        opacity: 0;
        scale:0.5;
        margin-bottom:-400px;
    
    }
    to{
        opacity:1;
        scale:1;
        }
}

.homeaboutimage img{
    margin-top:120px;
    width:400px;
    height: 350px;
    margin-bottom: 40px;
    align-items: center;
    box-shadow: 0 1px 7px 6px #646244;
    animation-name: pg2appear1;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    transition: all 3s ease-in;
    z-index: 0;
}
@keyframes pg2appear1 {
    from{
        opacity: 0;
        scale:0.5;
        margin-bottom:-400px;
    
    }
    to{
        opacity:1;
        scale:1;
        }
}

.homeservices{
    display: flex;
    flex-direction: row;
    background: #ffffff;
    justify-content: center;
    margin-top: 20px;
    padding-top:30px;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-left:14px;
    width:100%;
    z-index: 0;
    font-family: "POPPINS";
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}

.homeservicesdesc{
    width: 260px;
    height:600px;
    padding-left:25px;
    padding-right:25px;
    align-items: center;
    margin-top:9%;
}
.homeservicesdesc button{
    background: #17a387;
    background-color:cadetblue;
    color:#ffffff;
    margin-top: 10px;
    width:150px;
    height:50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.homeservicesdesc button:hover{
    background-color: antiquewhite;
    color:gray;
    box-shadow: 0 1px 7px 6px #ffffff;
}    

.firstservice{
    color:#1e2e92;
    text-align: start;
    font-size: 36px;
    font-weight: bolder;
    font-family: "poppins";
}
.secondservice{
    font-size: 18px;
    text-align:start;
}
#subservicetitle{
    display:inline;
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-left:5px;
    margin-right: 5px;
}
.imagesubservice img{
    width: 120px;
    height:120px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left:28%;
    justify-content: center;
}
.textsubservice{
    width:270px;
    height:320px;
   
}

.firstsubservice{
    color:#17a387;
    font-size: 28px;
}

.secondsubservice{
    font-size: 18px;
    text-align: start;
}

.homegallery{
    background:#1abc9c;
    justify-content: center;
    margin-top: 20px;
    padding-top:30px;
    margin-left: 0px;
    padding-bottom: 140px;
    padding-left:0px;
    width:100%;
    z-index: 0;
    font-family: "POPPINS";
    align-items: center;
    vertical-align: middle;
    animation: appear 7s linear;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}
.gallerytitle{
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    color:#1e2e92;
}
#gallerygrid{
    display: flex;
    flex-direction:row;
    vertical-align: middle;
    justify-content:center;
    background-color:#17a387;
    padding-bottom: 25px;
    margin-top: 60px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:100%;
    
  
}

#gallerygrid img{
    width:300px;
    height:300px;
    background-color:#17a387;
    margin-top: 0px;
    margin-bottom: -90px;
    z-index: 0;
    box-shadow: 0 1px 7px 6px #f3eb96;
}
#gallerygrid img:hover{
    width: 340px;
}
#gallerygrid p{
    margin-top:0px;
    padding-top:80px;
    margin-bottom: 40px;
    width:300px;
    height:100px;
    align-items: start;
    text-align: center;
    font-size: 28px;
    font-family: "POPPINS";
    background-color:#17a387;
    color: aliceblue;
    z-index: 1;
    box-shadow: 0 1px 7px 6px #f3eb96;
}

.galleryfirst #fullgallery{
    font-weight: bolder;
    line-height: 5px;
    padding-top:40px;
    margin-top: 20px;
    background-color: #17a387;
}
.galleryfirst #minigallery{
    font-size: 15px;
    text-align: center;
    margin-top: -130px;
    width:280px;
    height:20px;
    padding-left:5px;
    z-index: 0;
    background:#17a387;
    padding-bottom:90px;
}
#gallerygrid button{
    background: #17a387;
    background-color:cadetblue;
    color:#ffffff;
    margin-top: 10px;
    width:150px;
    height:50px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
#gallerygrid button:hover{
    background-color: antiquewhite;
    color:gray;
    box-shadow: 0 1px 7px 6px #ffffff;
} 


.gallerysecond #fullgallery{
    margin-top: 80px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-top:30px;
    margin-left: 0px;
    padding-bottom: 140px;
    padding-left:10px;
    width:100%;
    z-index: 0;
    font-family: "POPPINS";
    vertical-align: middle;
    z-index: 1;
    text-align: center;
}

.aboutsection{
    display: flex;
    flex-direction:row;
    vertical-align: middle;
    justify-content:space-evenly;
    padding-bottom: 25px;
    margin-top: 60px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    height:100%;
}
.aboutwords{
    text-align: center;
    width:390px;
    font-size: 18px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}
.aboutinsides{
color:#ffffff;
}
.aboutinsides img{
    padding-top: 30px;
    margin-left: -18px;
    width:80px;
    height:80px;
    border-radius: 41%;
    justify-content: center;
    vertical-align: middle;
    }
.aboutheader{
    font-size:28px;
}
#abt1{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  #abt1 i{
     margin-top:1px;
     font-size: 20px;
   
   }
hr{
    width:310px;
margin-left: auto;
margin-right: auto;
    margin-top:-30px;
    margin-bottom: -30px;
}
.aboutwords0{
    width:210px;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
    padding-right: 20px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}

#copyright{
    width:100%;
    height:25px;
    padding-top:7px;
    text-align: center;
    align-items: center;
    color:black;
    background-color:rgb(255, 255, 255);
    font-family:"POPPINS";
    font-size: 10px;
    font-weight: bolder;
}
