/**Styling of the element**/
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #131a3b;
  width: 100%;
}
.App{
  width: 100%;
  height: 80%;
}
#heading2 {
  margin-right: auto;
  margin-left: auto;
    margin-top: 20px;
    margin-bottom: -200px;
    font-size: 18px;
    background: linear-gradient(60deg, #9cb9e6 50%, #9af0ff 50%);
    font-family: "SOFADI ONE";
  border-radius:  3px 3px 0 0;
  padding-left:10px; 
  width: 100%;


  }
  #heading2 button {
  width: 100%;
  background:rgb(81, 168, 244);
  border: 2px solid rgb(53, 69, 107);
  border-radius: 30px;
  height: 30px;
  padding:10px 5px 9px 4px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-family: 'SOFADI ONE';
}
#heading2 section{
  font-family: 'SOFADI ONE';
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  background:  linear-gradient(170deg, #b4b1b2 20%,#2e4065 80%, #076981 80%);
  padding: 5px 5px 5px 8px;
  border-radius: 10px 10px 0 0;
  margin-left: -5px;
  margin-bottom: 9px;
  color:#b7efea
}
#heading2 span{
  display: flex;
  justify-content: flex-end;
  margin-top:-27px;
  padding-right: 10px;
}
span i{
  text-align: end;
}
#in {
  font-family: Pacifico, sans-serif; 
  height: 60%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  opacity: 0.9;
  width:100%;
  margin-right: auto;
  margin-left: auto;

}
#design{
width: 100px;
height: 120px;
background: linear-gradient(40deg, #7ed3f7 20%, #63a1e9 80%);
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
padding-top: 10px;
border-radius: 50px 50px 10px 10px;
cursor:grab;
}
#design1{
  width: 100px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: -10px;
border-radius: 50px 50px 0 0;
background: linear-gradient(30deg, blue 20%, gold 80%);
cursor: grabbing;
}
#design2{
  width: 100px;
  height: 50px;
  margin-top: 10px;
border-radius: 0px 0px 50px 50px;
background: linear-gradient(30deg, blue 20%, gold 80%);
cursor: grab;
}
#design1:hover{
  transform: translateY(14px);

}

#page-wrapper {
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
img{
  border: 2px solid rgb(119, 228, 221);
}
div #nav-bar{
padding: 20px;
margin-left:-150px;
}
#nav-bar a{
padding: 10px;
}
#nav-bar {
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(40deg, #f77e9a 20%, #7cc8db 80%);
  border-radius: 10px 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top:14px;
  margin-bottom:15px;
  margin-left:-40px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 3px 5px rgba(0, 0, 0.6, 0.9);
}
@media (max-width: 600px) {
  #page-wrapper {
   width:100%;
   margin-left:auto;
   margin-right: auto;
  
  }
}
li{
  list-style:none;
}

a {
  color: rgb(86, 66, 15);
  text-decoration: none;
}
a:hover {
  color: salmon;
}
.heading {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  color: rgb(10, 37, 53);
  margin-bottom: 10px;

}
.heading h1 {
  margin-top: 160px;
  margin-left:auto;
  margin-right: auto;
  font-weight: 400;
  font-size:40px;
  background: linear-gradient(40deg, #132872 20%, #7cc8db 80%);
  font-family: "Protest Guerrilla";
border-radius:  3px; 
user-select: none;
}

#secondnav i{
  color: rgb(161, 98, 3);
  cursor: pointer;
}
#secondnav i:hover{
  color: salmon;
}

.btn {
  text-align: center;
  align-items: center;
  display: block;
  padding: 10px;
  height: 20px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
header {
  position: fixed;
  top:0;
  min-height: 75px;
  padding: 5px 10px 7px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(40deg, #b4b1b2 20%,#2e4065 80%, #076981 80%);
margin-left:auto;
padding-right:10px;
}
#nav1 {
  width: 120%;
  align-items: center;
  text-align: center;
  flex-direction: row; 
  font-family:"Sofadi One";
  font-weight: 600;
}
#nav1 div{
  padding-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#nav1 div:hover {
  /* use background: white or any color to highlight each nav-list buttons*/
  border-radius: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: translateX(15px);
  background: snow;

}

.logo {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: -15px;
}

.logo > img {
  width: 100px;
  height: 100px;
  max-height:300px;
  justify-content: center;
  align-items:center;
  margin-left:-190px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 1px 4px 5px rgba(0, 0, 6, 0.7);


  }

#secondnav{
  background:linear-gradient(40deg, #d6da6e 20%, #7cc8db 80%);
  width:15%;
  font-family: "Sofadi One";
  font-weight: 600;
  padding: 7px;
  margin-top: 2px;
  margin-right:12px;
  margin-left: 12px;
  border-radius: 10px;
  text-align: center;
  text-decoration: dotted, underline;
  box-shadow: 1px 4px 5px rgba(0, 0, 6, 0.7);
}
#secondnav li{
  padding: 3px;
  
}

#secondnav li:hover{
  border-radius: 10px;
  margin-bottom: 5px;
  transform: translateX(14px);
  background: snow;
  text-decoration: olivedrab;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: row;
  }
  #nav-bar{
    width: 340px;
    font-size: 87%;
  
  }
  
  }


.code {
  color: var(--main-ash);
  transition: color 0.3s ease-out;
}
.project p {
  padding: 15px 10px 15px 10px;
}

.project p:hover {
  color: #111133;
  transform: translateY(22px);
  background: rgb(92, 147, 151);
  border-radius: 50px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-see-all {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background: var(--main-color);
}

.btn-see-all:hover {
  padding: 20px 20px 20px 20px;
  color:#a6ae75;
}

.btn-see-all:hover > i {
  transform: translateX(2px);
}

.btn-see-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Footer Section*/


  
#footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background: rgb(187, 203, 203);
  border-top: 10px solid var(--main-color);
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 360px;
  height:270px;
}

footer > p {
  margin: 1rem;
}
footer #rec:hover {
  color: chocolate;
}
footer i {
  vertical-align: middle;
}
footer > div {
  margin-right: auto;
  margin-left: auto;
  border-left: 2px solid var(--main-color);
 
}
#footerimage {
  width:20px;
  border-radius: 50%;
  height: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

#foot {
  margin-left: 10px;
  width: 450px;
  font-size: 13px;
  text-align: justify;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right:10px;
  text-align: center;
}

#build {
  margin-top: 70px;
  width: 400px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
 margin-left: 5px;
 font-size: 13px;
 background: snow;
 user-select: none;
 
}
#address{
  margin-top: 63px;
  margin-left: 15px;
  margin-right: 15px;
  width: 500px;
  font-size: 13px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align:center;
}
#contactus {
  margin-top: 63px;
  width: 700px;
  font-size: 13px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left:20px;
  margin-right: 15px;
  text-align: center;
}
i {
  margin-top: 3.5px;

}
#last{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 9px;
  margin-bottom: -80px;
  background: silver;
}
@media (max-width: 650px ) {
  #footer {
    flex-direction: column;
    text-align: center;
    font-size: 7.5px;
    height: 350px;
    margin-bottom:20px;
  }
  #last{
    padding:8px;
  }
  #foot {
      margin-top: 5px;
      margin-left:auto;
      margin-right:auto;
      width: 60%;
      font-size: 9px;
      text-align: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
  }
  #footerimage {
      width:20px;
      border-radius: 50%;
      height: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  #build {
      margin-top: 0px;
      width: 100%;
     margin-left: auto;
     margin-right: auto;
     font-size: 7x;
  }
 
  #address{
      margin-top: 5px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      font-size: 9px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #contactus {
      margin-top: 5px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      font-size: 9px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding: 5px;
    }
 #last{
  margin-top:-10px;
 }
  .heading{
      margin-top: 10px;
  }
  .heading h1{
    margin-top: 160px;
    font-size: 12px;
  }
  #page-wrapper {
    align-items: center;
    justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 7.5px;
      height: auto;
      width: 100%;
      display:flex;
      margin-left:auto;
      margin-right: auto;
      margin-bottom: 80px;
      box-shadow: 2px 3px 2px rgba(0, 0.8, 0.8, 0.0);
      font-size: 10px;
    }
    div #nav-bar{
      margin-left: -30px;
      padding-left:5px;
      padding-right: 9px;
      text-align: center;
      align-items: center;
      justify-content: center;
      width:98%;
    }
    #nav-bar{
      width: 280px;
      padding-left:10px;
      padding-right:5px;
      padding-top:10px;
      padding-bottom:1px;
      margin-bottom: 10px;
      margin-top:10px;
      margin-left:100px;
      margin-right:30px;
      align-items: center;
      text-align: center;
    }
    #header{
      margin-left:auto;
      margin-right: auto;
      width:100%;
    }
    #in img{
      width: 98%;
      height: 250px;
      margin-top: 5px;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      justify-items: center;
    }
    .logo img{
      width: 70px;
      height: 70px;
      margin-left:-55px;
    }
    #secondnav{
      margin-left:-10px;
      margin-right:30px;
    }
    #heading2{
      margin-top:40px;
      margin-bottom: -250px;
    }
    #heading2 button {
     width:100%;
     font-size: 9px;
     padding: 4px 4px 4px 4px;
     position:relative;
    }
    #heading2 section{
      font-family: 'SOFADI ONE';
      font-size: 12px;
      padding: 5px 10px 8px 10px;
      border-radius: 3px 3px 0 0;
      width: 100%;
    }
    span i{
      text-align: end;
      margin-top: 13px;
    }
    #heading2 p{
      font-size: 12px;
      text-align: justify;
      padding-left: 5px;
      padding-right: 8px;
    }
    #social{
      padding-top:20px;
    }
  
  }